<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^backend - [L]
RewriteRule ^\.well-known - [L]
RewriteCond %{DOCUMENT_ROOT}/frontend/$1 -f
RewriteRule ^(.+)$ frontend/$1 [L]
RewriteRule ^$ frontend/index.html [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . frontend/index.html [L]
</IfModule>
